<div class='form-page'>
  <h3 class='col-sm-offset-1'>New Business</h3>
</div>

<%= nested_form_for [:admin, @business], :html => { :class => "form-horizontal business padding_top" } do |f| %>

  <%= render partial: 'step1', locals: { f: f } %>
  <%= f.submit 'New Business' ,:class => 'btn btn-primary col-sm-offset-4' %>

  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      admin_businesses_path, :class => 'btn btn-warning' %>
<% end %>
<% content_for :head do javascript_include_tag :businesses end %>
