<p class='center text-size'>Search a business by category to view or post reviews about it</p>

<div class='tag-area img-rounded' >
  <% Category.order(:position).enabled.each do |category| %>
    <span class='badge alert-info tag'>
      <%= image_tag category.image.url(:thumb), size: "50x23" %>
      <span class='text-color'><%= category.name%></span>
    </span>
  <% end %>
</div>
<p class='center text-size'>OR</p>
<p class='center text-size'>List a business to get it reviewed publicly</p>
<div class='col-xs-12 center'><%= link_to 'List a Business', home_index_path, class: 'btn btn-warning btn-lg' %></div>