a.add-business {
  margin: 10px 60px 10px 0px;
  float: right;
  padding-top: 5px;
}

.text {
  overflow: hidden;
}

div.form-page {
  overflow: auto;
  padding-left: 40px;
}

p.form-page {
  float: right;
  padding-right: 250px;
  position: relative;
  top: -30px;
}

.top-pad-10 {
  padding-top: 10px;
}