a.add-business {
  margin: 5px 50px;
  float: right;
}

.text {
  overflow: hidden;
}

div.form-page {
  overflow: auto;
  padding-left: 40px;
}

p.form-page {
  float: right;
  padding-right: 250px;
  position: relative;
  top: -30px;
}