a.add-business {
  margin: 10px 30px 5px 0px;
  float: right;
  padding-top: 5px;
}

.text {
  overflow: hidden;
}

div.form-page {
  overflow: auto;
  padding-left: 40px;
}

p.form-page {
  display: inline;
}

.top-pad-10 {
  padding-top: 10px;
}

.top-pad-50 {
  padding-top: 30px;
  padding-left: 0px
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  color: red;
}

.bottom-padding-10 {
  margin-bottom: 45px;
}

.text-height-20 {
  font-size: 20px;
}

.carousel.slide, .carousel-inner{
  height: 200px;
}

div.item {
  vertical-align: middle;
}

#cimg {
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  height: 200px;
}

#establishment {
  position: absolute;
  z-index: 2;
  top: 25px;
  left: 0px;
  color: #3399FF;
}

.rotate {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}