span.tag {
  border: 1px solid lightblue;
  margin: 4px 10px;
}

.text-color {
  /*background-color: white;*/
  padding: 2px 5px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  font-family: Courier New;
}

.center {
  text-align: center;
  margin: 10px auto;
}

.top-pad {
  padding-top: 10px;
}

.tag-area {
  /*background-color: #FFFFDF;*/
}