span.tag {
  border: 1px solid grey;
  margin: 4px 10px;
}

.text-color {
  background-color: white;
  padding: 0px 5px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  font-family: Courier New;
}

.tag:hover .text-color {
  background-color: lightblue;
}

.center {
  text-align: center;
  margin: 10px auto;
}

.top-pad {
  padding-top: 4px;
}

.text-size {
  font-size: 35px;
  color: #2597D0;
  font-weight: bold;
}